body, #modal {
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #17004d;
    border: none;
    color: #ececec;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

#modal {
  z-index: 1;
}

#modal p {
  max-width: 500px;
  margin-bottom: 50px;
  padding: 50px;
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#main::before {
  content: "";
  position: absolute;
  opacity: .5;
  width: 80vw;
  height: 80vw;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  z-index: -1;
  background: center / contain url("./mandala.png");
  animation: rotation 500s linear infinite;
}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#roulette {
  margin-top: 30px;
  width: 60px;
  height: 60px;
  object-fit: contain;
  opacity: 0;
}

#roulette-message {
  width: 300px;
  height: 60px;
  font-size: 1rem;
  text-align: center;
}

#sound {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  opacity: .9;
  object-fit: contain;
  cursor: pointer;
  display: none;
}

h1 {
    font-size: 60px;
}

div {
    font-size: 25px;
}

.neon {
    font-family: 'Caveat', cursive;
    text-align: center;
    /* color: rgb(255, 250, 204); */
    color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(255, 0, 242),
    0 0 80px rgb(255, 0, 242),
    0 0 90px rgb(255, 0, 242),
    0 0 100px rgb(255, 0, 242),
    0 0 150px rgb(255, 0, 242);
}

.button {
    width: 200px;
    height: 60px;
    border: solid 3px #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Caveat', cursive;
    border: 3px solid rgb(0, 180, 230);
    box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
    0 0 12px -1px rgb(0, 180, 230) inset;
    color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
}

.button:hover {
    animation: border-flicker 2s linear forwards;
  }
  
.button:hover h3 {
    animation: text-flicker 2s linear forwards;
  }
  
.button:hover .first {
    animation: letter-flicker 3s linear infinite;
  }
  
  @keyframes text-flicker {
    2% { 
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    3% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    6% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    9% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    11% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    14% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    18% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    32% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    33% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    37% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    39% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    43% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    46% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    47% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    100% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
  }
  
  @keyframes letter-flicker {
      2% { 
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    3% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    6% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    9% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    11% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    14% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    18% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    32% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    33% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    37% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    39% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    40% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    100% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
  }
  
  @keyframes border-flicker {
    2% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    3% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    5% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    6% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    7% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    9% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    13% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    16% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    18% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    22% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    34% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    36% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    54% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    100% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
  }